wheel==0.33.6

# Using a fork until UnicodeDecodeError related issues are fixed in main project
#pymilter==1.0.4
-e git://github.com/sdgathman/pymilter.git@222afcd555e7bc2491c255658597d68928e6b9c3#egg=pymilter
